@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
    --font-frank: var(--font-frank);
}

a[target="_blank"]::after {
    content: " ↗";
    font-size: 0.8em;
    padding-left: 3px;
}

.skip-link {
    position: absolute;
    top: -3em;
    background: white;
}
.skip-link:focus {
    top: 0;
}
