@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
    --font-frank: var(--font-frank);
}

@theme {
    --color-background: oklch(0.97 0.02 80);
    --color-foreground: oklch(0.24 0.015 65);
}

body {
    @apply font-frank bg-background text-foreground text-lg;
}

a[target="_blank"]::after {
    content: " ↗";
}
